@page "/PopDetails/{popID:int}"
@rendermode InteractiveServer
@inject IPopService PopService
@inject IFavoriteService FavoriteService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService

@using FunkollectionApp.Models
@using FunkollectionApp.Services
@using MudBlazor
@using System.Security.Claims

<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />

<h3 style="margin-bottom: 1.5rem">Pop Details</h3>

@if (pop == null)
{
    <p>Loading...</p>
}
else
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderAvatar>
                <div>
                    <MudImage Src="images/funkoLogo.png" Alt="Funko Logo" Width="400" Style="position:absolute" Class="funko-logo" />
                </div>
                @if (@pop.Category != null)
                {
                    <div class="category-box">
                        @pop.Category
                    </div>
                }
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.h4" Class="pop-card-header">@pop.Title</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudAvatar Class="funkollection-secondary" Size="Size.Large">@pop.Number</MudAvatar>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image="@GetImageUrl()" Class="pop-details-img" />

        <MudCardContent>
            <MudText Typo="Typo.h4" Class="pop-card-text">@pop.Name</MudText>
        </MudCardContent>
        <MudCardActions Class="pop-card-actions">
            <MudFab Class="funkollection-secondary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Large" @onclick="NavigateToEditPop" />
            <MudToggleIconButton @bind-Toggled="@favorite"
                                 Icon="@Icons.Material.Filled.FavoriteBorder" Color="@Color.Secondary" title=@(favorite ? "Favorite" : "Not Favorite")
                                 ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="@Color.Secondary"
                                 Size="Size.Large" @onclick="ToggleFavorite" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" @onclick="OnDeleteClicked" Size="Size.Large"></MudIconButton>
        </MudCardActions>
    </MudCard>

    <MudMessageBox @ref="_mudMessageBox" Title="Warning" CancelText="Cancel">
        <MessageContent>
            Deleting can <b><i>not</i></b> be undone!
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
        </YesButton>
    </MudMessageBox>

    <MudButton Variant="Variant.Filled" Class="funkollection-secondary" @onclick="() => NavigateBack()">Back</MudButton>
}

@code {
    [Parameter]
    public int popID { get; set; }

    private Pop pop;
    private bool favorite = false;
    private MudMessageBox _mudMessageBox;
    private string returnUrl;

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        returnUrl = queryParams.TryGetValue("returnUrl", out var url) ? url.ToString() : string.Empty;

        // Retrieve the Pop details
        pop = await PopService.GetEntityByIdAsync(popID);

        // Check if the current pop is in the user's favorites
        var userId = await GetCurrentUserId();
        if (!string.IsNullOrEmpty(userId))
        {
            favorite = await FavoriteService.IsFavoriteAsync(userId, popID);
        }
    }

    private async Task ToggleFavorite()
    {
        var userId = await GetCurrentUserId();
        if (favorite)
        {
            await FavoriteService.RemoveFavoriteAsync(userId, popID);
        }
        else
        {
            await FavoriteService.AddFavoriteAsync(userId, popID);
        }

        favorite = !favorite; // Toggle the UI state
    }

    private void NavigateToCollection()
    {
        Navigation.NavigateTo("/Pops");
    }

    private void NavigateBack()
    {
        if (!string.IsNullOrEmpty(returnUrl))
        {
            Navigation.NavigateTo(returnUrl);
        }
        else
        {
            Navigation.NavigateTo("/Pops");
        }
    }

    private async Task OnDeleteClicked()
    {
        bool? result = await _mudMessageBox.ShowAsync();

        if (result == true)
        {
            await PopService.DeleteEntityAsync(popID);
            NavigateToCollection();
        }
    }

    private void NavigateToEditPop()
    {
        Navigation.NavigateTo($"/EditPop/{popID}");
    }

    private string GetImageUrl()
    {
        if (pop?.ImageData != null && pop.ImageData.Length > 0)
        {
            var base64 = Convert.ToBase64String(pop.ImageData);
            return $"data:image/png;base64,{base64}";
        }

        return "/images/image-placeholder.jpg";
    }

    private async Task<string> GetCurrentUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            return userId;
        }

        return string.Empty;
    }

}
